@model IEnumerable<Innovatec.Models.tBasculas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section head{
    <meta http-equiv="Refresh" content="5" />
}*@

<div class="container mb-5">
    <h2 style="color:#bfe8e4">Basculas</h2>

    <table class="table table-bordered">
        <thead style="color:#fff">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Bascula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody style="color:#fff; background-color:#000">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Bascula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion.Split(':')[0])
                    </td>
                    <td>
                        @if (item.Descripcion.Split(':')[1] != "Active")
                        {
                            <text>
                                <i style="color:#ff7e96" class="fa fa-window-close-o" aria-hidden="true"></i>
                            </text>
                        }
                        else
                        {
                            <text>
                                <i style="color:aquamarine" class="fa fa-check-square-o" aria-hidden="true"></i>
                            </text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="width:100%; margin-bottom:150px"></div>
@section scripts{
    <script>
        var table = $('.table').DataTable({
                ajax: {
                     url: '@Url.Action("List","Basculas")',
                     dataSrc: ''
                },
                columns: [
                    { data: 'ID_Bascula' },
                    { data: 'Ubicacion' },
                    {
                        data: 'Status',
                        render: function (data, type, row) {
                            if (data != "Active") {
                                return '<i style = "color:#ff7e96" class="fa fa-window-close-o" aria-hidden="true" ></i>';
                            }
                            else {

                                return '<i style = "color:aquamarine" class="fa fa-check-square-o" aria-hidden="true" ></i>';
                            }
                        }
                    }
                 ],
                 drawCallback: function (settings) {
                     $('tr').addClass('bg-dark')
                     $('.dataTables_length').attr("style", "color:#fff")
                     $('.dataTables_filter').attr("style", "color:#fff")
                     $('[aria-controls="DataTables_Table_0"]').attr("style", "color:#fff")
                 }
             });
        $(document).ready(function () {
            setInterval(function () {
                table.ajax.reload();
            }, 1000);
        });
    </script>
}