@model IEnumerable<Innovatec.Models.tLineasComponentesBasculas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
}

<div class="container mb-5">
    <h2 style="color:#bfe8e4">Inventario</h2>

    <table class="table table-bordered">
        <thead class="bg-dark">
            <tr>
                <th>
                    BASCULA
                </th>
                <th>
                    COMPONENTE
                </th>
                <th>
                    LINEA
                </th>
                <th>
                    CANTIDAD
                </th>
                <th>
                    ERROR
                </th>
            </tr>
        </thead>
        <tbody style="color:#fff; background-color:#000">
            @foreach (var item in Model)
            {
                <tr style="color:#fff;
                           @{
                               var color = "background-color:#ff7e96;";
                               if (item.Cantidad  <= item.Minimo || item.Cantidad >= item.Maximo) {
                                   @color;
                               }
                           } ">
                    <td>
                        @Html.DisplayFor(modelItem => item.tBasculas.ID_Bascula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tComponentes.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tLineasProduccion.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @{
                            if (item.Cantidad <= item.Minimo)
                            {
                                @Html.Raw("El material ha llegado a su minimo");
                            }
                            else if (item.Cantidad >= item.Maximo)
                            {
                                @Html.Raw("El material ha llegado a su maximo");
                            }
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div style="width:100%; margin-bottom:150px"></div>
@section scripts{
    <script>
        var table = $('.table').DataTable({
                ajax: {
                     url: '@Url.Action("List","LineasComponentesBasculas")',
                     dataSrc: ''
                },
                columns: [
                    { data: 'Bascula' },
                    { data: 'Componente' },
                    { data: 'Linea' },
                    { data: 'Cantidad' },
                    {
                        data: 'Error'
                    }
                 ],
            createdRow: function (row, data, index) {
                if (data['Error'] != "") {

                    $(row).css("background-color", "red");
                }
                else {
                    $(row).addClass('bg-dark')
                }
                },  
                 drawCallback: function (settings) {
                     $('.dataTables_length').attr("style", "color:#fff")
                     $('.dataTables_filter').attr("style", "color:#fff")
                     $('[aria-controls="DataTables_Table_0"]').attr("style", "color:#fff")
                 }
             });
        $(document).ready(function () {
            setInterval(function () {
                table.ajax.reload();
            }, 1000);
        });
    </script>
}